@font-face {
  font-family: oldNews;
  src: url('/fonts/OldNewspaperTypes.ttf');
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
p{
  font-family: oldNews; 
}
body {
  padding: 50px;
  padding-top:20px;
  padding-bottom: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image:url("/images/ricepaper.png");
  background-repeat:repeat;
}

a {
  color: #00B7FF;
}
h1{
  margin-top: 0px;
  font-family: oldNews; 
}
.title{
  font-size:6em;
  margin-bottom: 0px;
}
h4 {
  font-family: oldNews; 
  margin-top:0px;
  margin-bottom: 0px;
  font-size: 1.3rem;
}

.map-container{
  max-width: 100%;
  border: 1px solid rgba(0,0,0,0.2);
  margin-bottom:0px;
  height:300px;
}

#mapcanvas {
  width:100%;
  height:100%;
}

.postDate{
  margin-top:5px;
  margin-bottom:0px;
  font-style: italic;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  display:inline;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

#notePad {
    background-image:url('/images/notepad.png');
    background-size:100% 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 50px;
    height: 50px;
    display:block;
    /*background-color:white;*/
    border-bottom: 5px solid #ffffff;
}

#box1 {
    width:100px;
    height:100px;
    border-color:black 4px
}
input {
    display:none;
}
#notePad:hover input{
    display:block;
}

.tile,
.grid-sizer{
  width: 25%;
  max-height: 550px;
}

.tile {
  border: none;
/*  background-color : antiquewhite; */
  overflow:hidden;
}

.tile-heading{
  font-weight: bold;
}

.tile-section{
  max-height:450px;
  overflow: scroll;
}

.tile-body{
  max-height:305px;
  overflow: hidden;

}

/* item-content is visible, and transitions size */
.tile-content{
  padding:10px;
  width: 100%;
  height: 100%;
 
  border: 1px solid rgba(0,0,0,0.1);
 /* border-color: white;*/
  border-radius: 5px;
  -webkit-transition: width 0.4s, height 0.4s;
     -moz-transition: width 0.4s, height 0.4s;
       -o-transition: width 0.4s, height 0.4s;
          transition: width 0.4s, height 0.4s;
}

.tile:hover .tile-content {
  border-color: white;
  background: white;
  cursor: pointer;
}

/*.tile.is-expanded {
  z-index: 2;
}*/

.tile.is-expanded {
  width: 50%;
  height:400px;
}

.tile.is-expanded .tile-content {
  background: #FFFEFD;
  overflow-y: scroll; 
}

